<html>
  <head>
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
    <link rel='stylesheet' href="{{ url_for('static',filename='styles/main.css') }}">
  </head>
  <body>
    <div class='top-banner'>
      <div class='content-container'>
        <h3>Understanding Hashtags</h3>
        <div>
          <h3><a href='#about'>Conversations</a></h3>
          <h3><a href='#search'>Search</a></h3>
        </div>
      </div>
    </div>
    <div class='hero'>
      <div class='content-container'>
        <h1>#metoo</h1>
      </div>
    </div>
    <div class='main'>
      <div class='content-container'>
        <h1 id='about'>What are the conversations around #metoo?</h1>
        <h3>What is it?</h3>
        <p>
          #MeToo is a social media hashtag that has gained a large amount of exposure since being suggested by Alyssa Milano on October 15th.  In the wake of the Harvey Weinstein sexual assault scandal, she encouraged all women who have been sexually harassed or assaulted to reply to her tweet with the phrase ‘Me Too’, and thousands have. In less than 7 days, over a million people had used #MeToo to weigh in on the conversation to support, refute or share their stories.
        </p>

        <p>
          So now you know the subject that #MeToo is addressing, but what are people actually saying about it? As with any conversation, there are many opinions being voiced. Read below to get an overview of the different sides of this conversation and also insight on how you can contribute to it in helpful ways:
        </p>

        <p>(ORIGIN BUBBLE)</p>

        <p>
          Despite it’s current popularity stemming from the Harvey Weinstein scandal, the ‘Me Too’ movement actually began in 2007 when Tarana Burke realized how much that phrase could help women with experiences of sexual abuse: “It was a catchphrase to be used from survivor to survivor to let folks know that they were not alone and that a movement for radical healing was happening and possible.” 
        </p>

        <p>
          There has been some tension between the origin of ‘Me Too’ and it’s publicity now: “What’s happening now is powerful and I salute it and the women who have disclosed but the power of using ‘me too’ has always been in the fact that it can be a conversation starter or the whole conversation – but it was us [women of color] talking to us, I think that women of color use social media to make our voices heard with or without the amplification of White women, I also think that many times when White women want our support, they use an umbrella of ‘women supporting women’ and forget that they didn’t lend the same kind of support.”
        </p>

        <p>
          Here are some article links if you’re interested in learning more about this part of the conversation:
          <br><br>
          <a href='https://www.washingtonpost.com/news/the-intersect/wp/2017/10/19/the-woman-behind-me-too-knew-the-power-of-the-phrase-when-she-created-it-10-years-ago/?utm_term=.e8e24fdbb7ce' target='_blank'>
            The woman behind ‘Me Too’ knew the power of the phrase when she created it — 10 years ago
          </a><br>
          <a href='http://www.ebony.com/news-views/espn-acts-cowardice-suspends-jemele-hill-calling-trump-white-supremacist#axzz4wF6M2N1A' target='_blank'>
            ESPN Suspends Anchor Jemele Hill for Purported Call to Boycott NFL Team
          </a><br>
          <a href='http://www.cnn.com/2017/10/17/us/me-too-tarana-burke-origin-trnd/index.html' target='_blank'>
            An activist, a little girl and the heartbreaking origin of 'Me too'
          </a><br>
          <a href='http://justbeinc.wixsite.com/justbeinc/the-me-too-movement-cmml' target='_blank'>
            The Me Too Movement Inception
          </a><br>
          <a href='http://www.dailymail.co.uk/femail/article-4994392/Tarana-Burke-started-MeToo-movement-Alyssa-Milano.html' target='_blank'>
            'It wasn't built to be a viral campaign!' Meet the women's rights activist who came up with the #MeToo movement 10 YEARS ago to help women of color who had been abused
          </a>
        </p>

        <p>(WOMEN BUBBLE)</p>

        <p>
          The impact on women is undeniable, many have found community and solidarity as they name what has happened to them. Others find it intrusive and difficult to navigate: if I say nothing, does that mean others will assume I haven’t experienced sexual abuse? What if I’m not ready to share painful experiences to an audience that includes both strangers and family, and possibly my abuser? There are many facets of this conversation, and both how women are affected by it and speaking about it.
        </p>

        <p>
          Here are some links on how women are interacting with the #MeToo conversation:
          <br><br>
          <a href='http://www.cnn.com/2017/10/16/opinions/me-too-mayim-bialik-kate-maltby-opinion/index.html' target='_blank'>
            What Mayim Bialik reveals about #MeToo
          </a><br>
          <a href='https://www.nytimes.com/2017/10/19/opinion/lupita-nyongo-harvey-weinstein.html' target='_blank'>
            Lupita Nyong’o: Speaking Out About Harvey Weinstein
          </a><br>
          <a href='https://www.washingtonpost.com/news/the-intersect/wp/2017/10/07/when-did-you-meet-your-harvey-weinstein-thousands-share-workplace-sex-assault-stories-online/?tid=a_inl&utm_term=.b79e683285a0' target='_blank'>
            ‘When did you meet YOUR Harvey Weinstein?’ Thousands share workplace sex assault stories online.
          </a><br>
          <a href='http://www.christianitytoday.com/women/2017/october/unsettling-truth-behind-metoo-movement-harvey-weinstein.html' target='_blank'>
            The Unsettling Truth Behind the #MeToo Movement
          </a>
        </p>

        <p>
          Stepping Back:
          <br><br>
          <a href='https://www.washingtonpost.com/news/soloish/wp/2017/10/19/not-everyone-with-a-metoo-is-posting-their-story-heres-why-some-are-refraining/?utm_term=.63999cf5821e' target='_blank'>
            Not everyone with a #MeToo is posting their story. Here’s why some are refraining.
          </a><br>
        </p>

        <p>
          Encouraging community:
          <br><br>
          <a href='http://www.cbc.ca/news/entertainment/me-too-harassment-weinstein-1.4356297' target='_blank'>
            Women identify as assault, harassment victims using #metoo hashtag
          </a><br>
          <a href='https://www.washingtonpost.com/news/the-intersect/wp/2017/10/16/metoo-made-the-scale-of-sexual-abuse-go-viral-but-is-it-asking-too-much-of-survivors/?tid=a_inl&utm_term=.1d9cb1a7a353' target='_blank'>
            #MeToo made the scale of sexual abuse go viral. But is it asking too much of survivors?
          </a>
        </p>

        <p>(MEN BUBBLE)</p>

        <p>
          The impact on men is no less important than that of women. Minka Chikara wrote: “You know what shocks me? How shocked my male friends/colleagues are.” While some men are awakened to the reality most women were well aware of, others are sharing their own experiences as survivors of harassment and abuse. In shows of support, other hashtags like #IWill and #HowWillIChange show men engaging in the conversation to take on this issue.  They are choosing to affirm their commitment to call others out when they see this behaviour and, if needed, change their own treatment of women.
        </p>

        <p>
          For more articles on how men are interacting with #MeToo, see our list below:
          <br><br>
          <a href='https://www.theguardian.com/commentisfree/2017/oct/20/men-silent-me-too-sexism' target='_blank'>
            Men who are silent after #MeToo: it's time to speak up
          </a>
        </p>

        <p>
          Show Support:
          <br><br>
          <a href='http://time.com/4988137/me-too-men-listen/' target='_blank'>
            What 'Me Too' Can Teach Men Who Are Willing to Listen
          </a><br>
          <a href='http://www.huffingtonpost.ca/entry/in-response-to-metoo-men-are-tweeting-howiwillchange_us_59e79bd3e4b00905bdae455d' target='_blank'>
            In Response To #MeToo, Men Are Tweeting #HowIWillChange
          </a>
        </p>

        <p>
          Share their experience:
          <br><br>
          <a href='http://www.telegraph.co.uk/men/thinking-man/metoo-campaign-six-reasons-men-do-not-report-sexual-harassment/' target='_blank'>
            The #metoo campaign: Six reasons why men do not report sexual harassment
          </a><br>
          <a href='https://www.nytimes.com/2017/10/19/opinion/metoo-sexual-harassment-men.html' target='_blank'>
            Dear Men: It’s You, Too
          </a>
        </p>

        <p>(TODO: GAY AND TRANSGENDER)</p>

        <p>(WHAT DOES SILENCE SAY BUBBLE)</p>

        <p>
          Should the onus be on survivors to “out” themselves as victims in order to gather the number of voices to critical mass to incite change, as some suggest? Does saying nothing make others assume that a person has not experienced this kind of abuse? Social Media doesn’t give much opportunity for leaving the conversation, unlike in-person conversations you do not have the option to simply leave the room. So what does silence on the issue say?
          <br><br>
          <a href='https://www.washingtonpost.com/news/the-intersect/wp/2017/10/16/metoo-made-the-scale-of-sexual-abuse-go-viral-but-is-it-asking-too-much-of-survivors/?tid=a_inl&utm_term=.bb8f3c73d810' target='_blank'>
            #MeToo made the scale of sexual abuse go viral. But is it asking too much of survivors?
          </a><br>
          <a href='https://www.washingtonpost.com/news/soloish/wp/2017/10/19/not-everyone-with-a-metoo-is-posting-their-story-heres-why-some-are-refraining/?utm_term=.358e66a32c99' target='_blank'>
            Not everyone with a #MeToo is posting their story. Here’s why some are refraining.
          </a><br>
          <a href='https://www.ted.com/talks/jackson_katz_violence_against_women_it_s_a_men_s_issue/transcript#t-254991' target='_blank'>
            Violence against women - it's a men's issue
          </a>
        </p>

        <p>(PERPETRATORS BUBBLE)</p>

        <p>
          Many have identified that it seems backwards to list the victims, while the perpetrators remain anonymous.
        </p>

        <p>
          Jackson Katz: “We talk about how many women were raped last year, not about how many men raped women. We talk about how many girls in a school district were harassed last year, not about how many boys harassed girls. We talk about how many teenage girls in the state of Vermont got pregnant last year, rather than how many men and boys impregnated teenage girls. So you can see how the use of the passive voice has a political effect. It shifts the focus off of men and boys and onto girls and women. Even the term ‘violence against women’  is problematic. It’s a passive construction; there’s no active agent in the sentence. It’s a bad thing that happens to women, but when you look at that term ‘violence against women,’ nobody is doing it to them. It just happens to them. Men aren’t even a part of it.”
          <br><br>
          <a href='https://www.ted.com/talks/jackson_katz_violence_against_women_it_s_a_men_s_issue/transcript#t-254991' target='_blank'>
            Violence against women - it's a men's issue
          </a>
        </p>

        <p>(WHAT COMES NEXT BUBBLE)</p>

        <p>
          Many are also questioning whether this social media conversation will have a lasting influence in changing the culture around sexual assault and the barriers to reporting it. A prevalent experience in our current culture, much needs to be done to change what some feel is acceptable. Other movements like #WhatWereYouWearing and #YesAllWomen have come before it, will there be lasting change from this new trending hashtag?
          <br><br>
          <a href='https://www.washingtonpost.com/news/act-four/wp/2017/10/16/metoo-of-course-but-what-comes-next/?utm_term=.5298774bc918' target='_blank'>
            Why I thought twice before saying #MeToo
          </a>
        </p>

        <h1 id='search'>Search for Tweets</h1>
        <form name="search" method="POST" action="/#search">
          Search for: <input type="text" name="search" value="{{ search_form.search }}"/>
          <br>
          In:
          <select style="display: inline" name="location">
            <option value="43.463340,-80.521915,">Waterloo</option>
            <option value="43.224760,-79.719050,">Stoney Creek</option>
            <option value="43.541629,-80.249096,">Guelph</option>
          </select>
          <br>
          <div class='inline-block'>
            <span>Within:</span>
            <input type="text" name="within" value="{{ search_form.within }}"/>
            <span>miles</span>
          </div>
          <br>
          <input class='btn' type="submit" value="Search"/>
        </form>

        {% if data %}
          <div class='tweet-container'>
            {% for item in data %}
              <div class='tweet'>
                <!-- <p>{{ item.text|safe }}</p>
                <p><b>- {{ item.name }}</b></p>
                <p>Date: {{ item.created_at}}</p>
                <p>Retweets: {{ item.retweet_count }}</p>
                <p>Location: {{ item.location}}</p> -->
                <a href='https://twitter.com/{{ item.name }}' target='_blank'>@{{ item.name }}</a>
                <span class='muted'>
                  on
                  {{ item.date }}
                  at
                  {{ item.time }}
                  {% if item.location %}
                    in {{ item.location }}
                  {% endif %}
                </span>
                <div class='tweet-content'>
                  {{ item.text }}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
